body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #ffffff, rgb(238, 114, 207));
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 70em;
  margin: 0;
}

.zid {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: auto;
  width: 30em;
  opacity: 0;
}

.zid:hover {
  cursor: pointer;
}

.zid.posleVrata {
  opacity: 1;
  transition: 1s;
}

.zid.sruseno {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

.vrata {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: auto;
  width: 21em;
}

.vrata.kliknutaKov {
  opacity: 1;
  transition: 1s;
}

.vrata:hover {
  cursor: pointer;
}

.vrata.otvori {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

.pitanje {
  display: flex;
  font-size: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.pitanje.posleVrata {
  opacity: 1;
  transition: 1s;
  font-size: 100%;
}

.koverta {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: auto;
  width: 31em;
  z-index: 100;
}

.koverta:hover {
  width: 40em;
  cursor: pointer;
  transition: 1s;
}

.koverta.otvaranje {
  transform: translate(50%, 150%) scale(0);
  opacity: 0;
  pointer-events: none;
}

button {
  margin: 10px;
  padding: 10px 15px;
  border-color: rgb(187, 0, 187);
  border-width: 3px;
  border-radius: 10px;
  font-size: 1.3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: rgb(231, 130, 206);
  transition: 0.3s;
}

.tekst {
  animation: letenje 3s ease-in-out infinite;
  color: #590d22;
}

@keyframes letenje {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.srca {
  position: absolute;
  bottom: -50px;
  font-size: 3em;
  user-select: none;
  pointer-events: none;
  animation: gore 4s linear infinite;
}

@keyframes gore {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) rotate(360deg);
    opacity: 0;
  }
}

.selebrati {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #590d22;
  font-weight: bold;
}
